#about .about-grid {
  display: grid;
  grid-template-areas:
    "about-title about-title about-title"
    "about-content about-content about-img";
  gap: 20px;
}
#about .about-title {
  grid-area: about-title;
  font-size: 40px;
  font-weight: 500;
}
#about .about-content {
  grid-area: about-content;
}
#about .about-img {
  grid-area: about-img;
  width: 100%;
}
.about-img img {
  width: 100%;
  border-radius: 10px;
}
.about-img .site:hover {
  text-decoration: underline;
}
/* testimonials section */
