/*  */

#project-info .container h1 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}
#project-info img {
  width: 100%;
}

#project-info .cardcontainer {
  width: 50%;
  padding: 20px;
  float: left;
}

#project-info a {
  text-decoration: none;
}

/* media query */
@media (max-width: 768px) {
  #project-info .cardcontainer {
    width: 100%;
  }
}
